<%- include("header"); -%>
<h2>This is the about page</h2>
<p>Long as paragraph talking about nothing. It's just very very long and boring so I'm not sure why you're still reading this lmao.</p>
<%- include("footer"); -%>
